.top-panel {
    text-align: center;
    color: white;
    border-bottom: 2px solid var(--secondary);
    max-width: 90%;
    margin: auto;
    margin-bottom: 16px;
}

.top-panel h1 {
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    font-size: 2rem;
}

@media only screen and (min-width: 768px) {
    .top-panel {
        width: 50%;
    }
    .top-panel h1 {
        font-size: 2.4rem;
    }
}